In [4]:
import pandas as pd

# Read the Parquet file
df = pd.read_parquet('output/orders_20251023_20251026.parquet')

# Show the first few rows
print(df.head())

# Show all rows (if only a few)
print(df)

# Show summary info
print(df.info())

   order_id order_date  user_id order_status  product_id  product_name  \
0     60001 2025-10-23     9047    completed        1024  Product_1024
1     60003 2025-10-23     9042    completed        1025  Product_1025
2     60006 2025-10-23     9040    completed        1006  Product_1006
3     60014 2025-10-23     9047    completed        1009  Product_1009
4     60017 2025-10-23     9020    completed        1007  Product_1007

      category  qty  unit_price  order_total  stock_on_hand  \
0      Apparel    1      265.41       265.41            218
1      Apparel    3      126.19       378.57             56
2  Accessories    2       28.15        56.30            208
3  Accessories    2      367.50       735.00            125
4  Accessories    2      431.12       862.24            131

          _source_file   price
0  orders_20251023.csv  265.41
1  orders_20251023.csv  126.19
2  orders_20251023.csv   28.15
3  orders_20251023.csv  367.50
4  orders_20251023.csv  431.12
    order_id order_date  user_id order_status  product_id  product_name  \
0      60001 2025-10-23     9047    completed        1024  Product_1024
1      60003 2025-10-23     9042    completed        1025  Product_1025
2      60006 2025-10-23     9040    completed        1006  Product_1006
3      60014 2025-10-23     9047    completed        1009  Product_1009
4      60017 2025-10-23     9020    completed        1007  Product_1007
5      60018 2025-10-23     9029    completed        1006  Product_1006
6      60023 2025-10-24     9050    completed        1020  Product_1020
7      60030 2025-10-24     9035    completed        1004  Product_1004
8      60031 2025-10-24     9011    completed        1026  Product_1026
9      60036 2025-10-24     9021    completed        1010  Product_1010
10     60041 2025-10-25     9008    completed        1029  Product_1029
11     60042 2025-10-25     9030    completed        1021  Product_1021
12     60048 2025-10-25     9021    completed        1004  Product_1004
13     60055 2025-10-25     9041    completed        1025  Product_1025
14     60056 2025-10-25     9038    completed        1015  Product_1015
15     60059 2025-10-25     9028    completed        1022  Product_1022
16     60065 2025-10-26     9043    completed        1018  Product_1018
17     60067 2025-10-26     9018    completed        1029  Product_1029
18     60068 2025-10-26     9020    completed        1022  Product_1022
19     60070 2025-10-26     9026    completed        1014  Product_1014
20     60072 2025-10-26     9045    completed        1021  Product_1021
21     60074 2025-10-26     9012    completed        1005  Product_1005
22     60078 2025-10-26     9026    completed        1009  Product_1009
23     60079 2025-10-26     9017    completed        1026  Product_1026

       category  qty  unit_price  order_total  stock_on_hand  \
0       Apparel    1      265.41       265.41            218
1       Apparel    3      126.19       378.57             56
2   Accessories    2       28.15        56.30            208
3   Accessories    2      367.50       735.00            125
4   Accessories    2      431.12       862.24            131
5   Accessories    2       28.15        56.30            208
6          Home    3      171.72       515.16            126
7   Electronics    1      493.30       493.30            259
8      Footwear    5       18.78        93.90            173
9   Electronics    2      483.27       966.54            307
10     Footwear    1       95.54        95.54            161
11  Electronics    5      220.90      1104.50            186
12  Electronics    5      493.30      2466.50            259
13      Apparel    2      126.19       252.38             56
14  Accessories    1      154.40       154.40             94
15     Footwear    5      248.67      1243.35            459
16  Electronics    3      155.14       465.42            332
17     Footwear    2       95.54       191.08            161
18     Footwear    2      248.67       497.34            459
19      Apparel    5       99.39       496.95             99
20  Electronics    1      220.90       220.90            186
21         Home    4      279.31      1117.24            415
22  Accessories    2      367.50       735.00            125
23     Footwear    3       18.78        56.34            173

           _source_file   price
0   orders_20251023.csv  265.41
1   orders_20251023.csv  126.19
2   orders_20251023.csv   28.15
3   orders_20251023.csv  367.50
4   orders_20251023.csv  431.12
5   orders_20251023.csv   28.15
6   orders_20251024.csv  171.72
7   orders_20251024.csv  493.30
8   orders_20251024.csv   18.78
9   orders_20251024.csv  483.27
10  orders_20251025.csv   95.54
11  orders_20251025.csv  220.90
12  orders_20251025.csv  493.30
13  orders_20251025.csv  126.19
14  orders_20251025.csv  154.40
15  orders_20251025.csv  248.67
16  orders_20251026.csv  155.14
17  orders_20251026.csv   95.54
18  orders_20251026.csv  248.67
19  orders_20251026.csv   99.39
20  orders_20251026.csv  220.90
21  orders_20251026.csv  279.31
22  orders_20251026.csv  367.50
23  orders_20251026.csv   18.78
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   order_id       24 non-null     Int64
 1   order_date     24 non-null     datetime64[ns]
 2   user_id        24 non-null     Int64
 3   order_status   24 non-null     object
 4   product_id     24 non-null     Int64
 5   product_name   24 non-null     object
 6   category       24 non-null     object
 7   qty            24 non-null     Int64
 8   unit_price     24 non-null     float64
 9   order_total    24 non-null     float64
 10  stock_on_hand  24 non-null     Int64
 11  _source_file   24 non-null     object
 12  price          24 non-null     float64
dtypes: Int64(5), datetime64[ns](1), float64(3), object(4)
memory usage: 2.7+ KB
None

In [2]:
import pandas as pd

orders = pd.read_parquet("C:\\Asan Innovators\\QuickShop-Assessment\\output\\orders_20251023_20251026.parquet")
orders = orders[orders['order_status'] == 'completed']

daily_total = orders.groupby('order_date')['order_total'].sum()
category_daily = orders.groupby(['order_date', 'category'])['order_total'].sum()

top_category = category_daily.groupby(level=0).idxmax()
top_category_revenue = category_daily.loc[top_category]

print(daily_total)
print(top_category_revenue)

order_date
2025-10-23    2353.82
2025-10-24    2068.90
2025-10-25    5316.67
2025-10-26    3780.27
Name: order_total, dtype: float64
order_date  category
2025-10-23  Accessories    1709.84
2025-10-24  Electronics    1459.84
2025-10-25  Electronics    3571.00
2025-10-26  Home           1117.24
Name: order_total, dtype: float64

In [7]:
import pandas as pd
import sqlite3  # Use `import mysql.connector` for MySQL
from pathlib import Path

# --- For SQLite ---
db_path = Path("output/quickshop_etl.db")
conn = sqlite3.connect(db_path)

# --- For MySQL, replace with your connection ---
# import mysql.connector
# conn = mysql.connector.connect(
#     host="localhost",
#     user="your_user",
#     password="your_password",
#     database="quickshop_db"
# )

query = """
WITH first_orders AS (
    SELECT
        user_id,
        strftime('%Y-%m', MIN(order_date)) AS cohort_month
    FROM orders
    GROUP BY user_id
),
orders_with_cohort AS (
    SELECT
        o.user_id,
        f.cohort_month,
        strftime('%Y-%m', o.order_date) AS order_month
    FROM orders o
    JOIN first_orders f ON o.user_id = f.user_id
),
cohort_counts AS (
    SELECT
        cohort_month,
        order_month,
        COUNT(DISTINCT user_id) AS user_count
    FROM orders_with_cohort
    GROUP BY cohort_month, order_month
),
cohort_sizes AS (
    SELECT
        cohort_month,
        COUNT(DISTINCT user_id) AS cohort_size
    FROM first_orders
    GROUP BY cohort_month
)
SELECT
    c.cohort_month,
    c.order_month,
    c.user_count,
    cs.cohort_size,
    ROUND(c.user_count * 1.0 / cs.cohort_size, 2) AS retention_rate
FROM cohort_counts c
JOIN cohort_sizes cs ON c.cohort_month = cs.cohort_month
ORDER BY c.cohort_month, c.order_month;
"""

# Run query and load into DataFrame
df = pd.read_sql_query(query, conn)

print(df)

# Close connection
conn.close()

  cohort_month order_month  user_count  cohort_size  retention_rate
0      2025-10     2025-10          20           20             1.0